body{
font-family: Arial;
background:#273469;
margin:0;
padding:20px;
color:white;
}

h1{
text-align:center;
margin-bottom:20px;
}

.container{
display:flex;
gap:20px;
}

.left{
width:40%;
}

.right{
width:60%;
}

.card{
background:white;
color:black;
padding:15px;
border-radius:8px;
margin-bottom:15px;
}

input{
padding:8px;
width:70%;
border:1px solid #ccc;
border-radius:4px;
}

button{
padding:8px 12px;
background:#ff7b2e;
color:white;
border:none;
border-radius:4px;
cursor:pointer;
}

button:hover{
background:#e56720;
}

#history span{
background:#ff7b2e;
color:white;
padding:5px 10px;
margin:3px;
display:inline-block;
border-radius:20px;
cursor:pointer;
}

.consoleBox{
background:white;
color:black;
padding:15px;
border-radius:8px;
margin-top:20px;
}

#console{
background:#1f2a60;
color:white;
padding:10px;
border-radius:5px;
min-height:60px;
font-family:monospace;
}
